<!-- List of account module triggers and routes -->
<trigger name="login_request">
	<route class="beluga.module.account.Account" method="login" access="static">
	</route>
</trigger>

<trigger name="subscribe_request">
	<route class="beluga.module.account.Account" method="subscribe" access="static">
	</route>
</trigger>

<template name="login" path="${beluga.installPath}/module/account/view/tpl/login.mtt" />
<template name="subscribe" path="${beluga.installPath}/module/account/view/tpl/subscribe.mtt" />
