<!-- List of account module triggers and routes -->

<!--
<trigger name="beluga_account_login">
	<route class="beluga.module.account.AccountImpl" method="_login" >
	</route>
</trigger>
-->
<trigger name="beluga_account_subscribe">
	<route class="beluga.module.account.AccountImpl" method="_subscribe" >
	</route>
</trigger>
