<!-- List of account module triggers and routes -->
<trigger name="login_request">
	<route class="beluga.module.account.AccountImpl" method="login" access="static">
	</route>
</trigger>

<trigger name="subscribe_request">
	<route class="beluga.module.account.AccountImpl" method="subscribe" access="static">
	</route>
</trigger>

<template name="login" path="${beluga.installPath}/module/account/src/tpl/login.mtt" />