<!-- List of ticket module triggers and routes -->
<trigger name="beluga_ticket_browse">
	<route class="beluga.module.ticket.TicketImpl" method="_browse" ></route>
</trigger>
<trigger name="beluga_ticket_create">
	<route class="beluga.module.ticket.TicketImpl" method="_create" ></route>
</trigger>
<trigger name="beluga_ticket_show">
	<route class="beluga.module.ticket.TicketImpl" method="_show" ></route>
</trigger>
<!-- <trigger name="beluga_ticket_update">
	<route class="beluga.module.ticket.TicketImpl" method="_update" ></route>
</trigger>
<trigger name="beluga_ticket_set_status">
	<route class="beluga.module.ticket.TicketImpl" method="_setStatus" ></route>
</trigger>
<trigger name="beluga_ticket_assign">
	<route class="beluga.module.ticket.TicketImpl" method="_assign" ></route>
</trigger>
 -->