<!-- List of survey module triggers and routes -->
<trigger name="beluga_survey_create">
	<route class="beluga.module.survey.SurveyImpl" method="_create">
	</route>
</trigger>

<trigger name="beluga_survey_vote">
	<route class="beluga.module.survey.SurveyImpl" method="_vote">
	</route>
</trigger>

<trigger name="beluga_survey_print">
	<route class="beluga.module.survey.SurveyImpl" method="_print">
	</route>
</trigger>

<trigger name="beluga_survey_delete">
	<route class="beluga.module.survey.SurveyImpl" method="_delete">
	</route>
</trigger>
