#mainDiv {
	text-align: center;
	padding-right: 10%;
	padding-left: 10%;
}

div.bottom{
	margin-bottom: 15px;
}
			
.btn{
	display: inline-block;
	width: 100px;
	padding: 5px 10px;
	text-decoration: none;
	color: #fff;
	text-shadow: -1px -1px 0 #888;
	font-weight: bold;
	text-align: center;
	background: #999;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

.btn:hover, .btn:focus, .btn:active {
	padding: 4px 9px;
	border: 1px solid #bbb;
	background: #fff;
	color: #000;
	text-shadow: 0 0 0;	
	cursor: pointer;
}

label {
	font-size: 1.2em;
	font-weight: bold;
	margin-right: 20px;
}

#divChoices{
	padding: 10px;
	-webkit-box-shadow: -1px -1px 0 #ddd, -1px -1px 0 #ddd inset;
	box-shadow: -1px -1px 0 #ddd, -1px -1px 0 #ddd inset;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

input {
	padding: 4px;
	vertical-align: top;
	border: 1px solid #000;
	background: #f2f2f2;
	-moz-box-shadow: -1px -1px 0 #ddd, -1px -1px 0 #ddd inset;
	-webkit-box-shadow: -1px -1px 0 #ddd, -1px -1px 0 #ddd inset;
	box-shadow: -1px -1px 0 #ddd, -1px -1px 0 #ddd inset;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#error{
	font-size: 1.2em;
	font-weight: bold;
	color: red;
	border-bottom: 0px;
}

.bar {
	background-color: white;
	text-align: right;
	border-left: solid 1px black;
	padding-right: 0.5em;
	width: 400px;
}

.bar div {
	border-top: solid 2px #0077DD;
	background-color: #004080;
	border-bottom: solid 2px #002266;
	text-align: right;
	color: white;
	float: left;
	padding-top: 0;
	height: 1em;
}