<style >::css::</style>
<!-- List of forum module triggers and routes -->
<trigger name="beluga_forum_channel_display">
    <route class="beluga.module.forum.ForumImpl" method="_displayChannel" ></route>
</trigger>

<trigger name="beluga_forum_channel_add_display">
  <route class="beluga.module.forum.ForumImpl" method="_displayAddChannel"></route>
</trigger>

<trigger name="beluga_forum_channel_modify_display">
  <route class="beluga.module.forum.ForumImpl" method="_displayModifyChannel"></route>
</trigger>

<trigger name="beluga_forum_channel_delete_display">
  <route class="beluga.module.forum.ForumImpl" method="_displayDeleteChannel"></route>
</trigger>

<trigger name="beluga_forum_channel_add">
  <route class="beluga.module.forum.ForumImpl" method="_addChannel"></route>
</trigger>

<trigger name="beluga_forum_channel_modify">
  <route class="beluga.module.forum.ForumImpl" method="_modifyChannel"></route>
</trigger>

<trigger name="beluga_forum_channel_delete">
  <route class="beluga.module.forum.ForumImpl" method="_deleteChannel"></route>
</trigger>
